<h3>Orders</h3>
<% @orders.each do |order| %>
  <div id="order">
  <p>Customer Name: <%= order.customer_name %></p>
  <p>Customer Address: <%= order.customer_address %></p>
  <p>Size: <%= order.size %></p>
  <p>Quantity: <%= order.quantity %></p>
  <hr>
  </div>
<% end %>