<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../style.css">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    </style>
  <title>Shooooooos</title>
</head>
<body>
  <header id="nav-bar">
    <h1>Shooooos</h1>
    <img src="../images/shoe.jpeg" height="100" width="100">
  </header>
  <div id="main-div">
  <%= yield %>
  </div>
</body>
</html>