<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../style.css">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    </style>
  <title>Shooooooos</title>
</head>
<body>
  <div id="main-div">
  <%= yield %>
  </div>
</body>
</html>