body {
  color: royalblue;
  background-color: #FCFBE3;
  font-family: 'Roboto', sans-serif;
}

h3 {
  text-align: center;
  color: navy;
}

#order {
  max-width: 50%;
  display: block;
  margin: auto;


}